/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #ec604b;
  --ifm-color-primary-dark: #e9472f;
  --ifm-color-primary-darker: #e83b21;
  --ifm-color-primary-darkest: #c52c15;
  --ifm-color-primary-light: #ef7967;
  --ifm-color-primary-lighter: #f08575;
  --ifm-color-primary-lightest: #f5ab9f;
  --ifm-code-font-size: 95%;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}
